# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# IDE
.vscode/
.idea/

# Streamlit
.streamlit/

# Logs and databases
*.log
*.sqlite

# Environment variables
.env
.env.*

# Distribution / packaging
dist/
build/
*.egg-info/

# Testing
.pytest_cache/
.coverage
htmlcov/

# Documentation
docs/_build/
